body {
  background-color: #735D43;
  color: #BF9075;
  font-size: 24px;
}

.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.container div {
  display: flex;
  gap: 15px;
}

.container div button {
  width: 100%;
}

input {
  width: 100%;
  padding: 15px;
  font-size: 24px;
}

h1 {
  color: #261201;
  text-align: center;
}